parameters:
    level: 6
    paths:
        - src
    tmpDir: .phpstan-cache
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        # Redis extension return types include Redis|int|false
        -
            identifier: missingType.iterableValue
        -
            message: '#Comparison operation .+ between \(int\|Redis\|false\) and 0#'
            paths:
                - src/Cache/RedisCacheAdapter.php
        -
            message: '#Comparison operation .+ between \(bool\|int\|Redis\) and 0#'
            paths:
                - src/Cache/RedisCacheAdapter.php
